In [2]:
import pandas as pd
import requests
import numpy as np

In [5]:
df = pd.read_csv('StandardReportExports.csv', skiprows = 4, index_col = False)
df = df.drop(columns = ['Unnamed: 4'])

In [6]:
df1 = df[df.Time == '2014']
df1

,Time,Commodity,District,Value ($US)
0,2014,"3915 Waste, Parings And Scrap, Of Plastics",All Districts,"953,036,078"
1,2014,"3915 Waste, Parings And Scrap, Of Plastics","Anchorage, AK","369,861"
2,2014,"3915 Waste, Parings And Scrap, Of Plastics","Baltimore, MD","6,301,650"
3,2014,"3915 Waste, Parings And Scrap, Of Plastics","Boston, MA","8,014,751"
4,2014,"3915 Waste, Parings And Scrap, Of Plastics","Buffalo, NY","24,017,032"
5,2014,"3915 Waste, Parings And Scrap, Of Plastics","Charleston, SC","52,886,821"
6,2014,"3915 Waste, Parings And Scrap, Of Plastics","Chicago, IL","2,120,098"
7,2014,"3915 Waste, Parings And Scrap, Of Plastics","Cleveland, OH","437,932"
8,2014,"3915 Waste, Parings And Scrap, Of Plastics","Columbia-Snake, OR","2,414,731"
9,2014,"3915 Waste, Parings And Scrap, Of Plastics","Dallas-Fort Worth, TX","30,197"
10,2014,"3915 Waste, Parings And Scrap, Of Plastics","Detroit, MI","36,253,231"
11,2014,"3915 Waste, Parings And Scrap, Of Plastics","Duluth, MN","2,249,688"
12,2014,"3915 Waste, Parings And Scrap, Of Plastics","El Paso, TX","3,273,992"
13,2014,"3915 Waste, Parings And Scrap, Of Plastics","Great Falls, MT","1,919,055"
14,2014,"3915 Waste, Parings And Scrap, Of Plastics","Honolulu, HI","1,843,045"
15,2014,"3915 Waste, Parings And Scrap, Of Plastics","Houston-Galveston, TX","49,135,688"
16,2014,"3915 Waste, Parings And Scrap, Of Plastics","Laredo, TX","11,807,556"
17,2014,"3915 Waste, Parings And Scrap, Of Plastics","Los Angeles, CA","365,803,307"
18,2014,"3915 Waste, Parings And Scrap, Of Plastics",Low Value,"3,266,808"
19,2014,"3915 Waste, Parings And Scrap, Of Plastics","Miami, FL","16,353,023"
20,2014,"3915 Waste, Parings And Scrap, Of Plastics","Minneapolis, MN","60,368"
21,2014,"3915 Waste, Parings And Scrap, Of Plastics","Mobile, AL","5,665,968"
22,2014,"3915 Waste, Parings And Scrap, Of Plastics","New Orleans, LA","1,303,145"
23,2014,"3915 Waste, Parings And Scrap, Of Plastics","New York City, NY","96,726,127"
24,2014,"3915 Waste, Parings And Scrap, Of Plastics","Nogales, AZ","267,692"
25,2014,"3915 Waste, Parings And Scrap, Of Plastics","Norfolk, VA","46,189,036"
26,2014,"3915 Waste, Parings And Scrap, Of Plastics","Ogdensburg, NY","14,578,109"
27,2014,"3915 Waste, Parings And Scrap, Of Plastics","Pembina, ND","3,791,824"
28,2014,"3915 Waste, Parings And Scrap, Of Plastics","Philadelphia, PA","660,687"
29,2014,"3915 Waste, Parings And Scrap, Of Plastics","Portland, ME","1,103,004"
30,2014,"3915 Waste, Parings And Scrap, Of Plastics","San Diego, CA","3,224,072"
31,2014,"3915 Waste, Parings And Scrap, Of Plastics","San Francisco, CA","74,358,111"
32,2014,"3915 Waste, Parings And Scrap, Of Plastics","San Juan, PR","4,776,084"
33,2014,"3915 Waste, Parings And Scrap, Of Plastics","Savannah, GA","51,972,232"
34,2014,"3915 Waste, Parings And Scrap, Of Plastics","Seattle, WA","39,014,615"
35,2014,"3915 Waste, Parings And Scrap, Of Plastics","St. Albans, VT","3,248,972"
36,2014,"3915 Waste, Parings And Scrap, Of Plastics","Tampa, FL","10,765,922"
37,2014,"3915 Waste, Parings And Scrap, Of Plastics","Washington, DC","61,848"
38,2014,"3915 Waste, Parings And Scrap, Of Plastics","Wilmington, NC","6,769,796"

In [8]:
df1['Value ($US)'].astype(int)

ValueError: invalid literal for int() with base 10: '953,036,078'

In [7]:
df1['Value ($US)'].sort_values()

29      1,103,004
22      1,303,145
14      1,843,045
13      1,919,055
36     10,765,922
16     11,807,556
26     14,578,109
19     16,353,023
6       2,120,098
11      2,249,688
8       2,414,731
4      24,017,032
24        267,692
30      3,224,072
35      3,248,972
18      3,266,808
12      3,273,992
27      3,791,824
9          30,197
10     36,253,231
17    365,803,307
1         369,861
34     39,014,615
32      4,776,084
7         437,932
25     46,189,036
15     49,135,688
21      5,665,968
33     51,972,232
5      52,886,821
2       6,301,650
38      6,769,796
20         60,368
37         61,848
28        660,687
31     74,358,111
3       8,014,751
0     953,036,078
23     96,726,127
Name: Value ($US), dtype: object